.userCard {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	align-items: center;
	max-width: 900px;
	margin: auto;
	padding: 0 5vh;
}

.userCard img {
	width: 100px;
	height: auto;
	aspect-ratio: 1;
	border-radius: 50%;
}

.userCard:not(.checked) img {
	border:	3px solid crimson;
}

.userCard.checked img {
	border: 3px solid rgb(135, 199, 67);
}

.userNames {
	display: flex;
	gap: 0 1rem;
}

.userCard button{
	color: gray;
	aspect-ratio: 1;
	border-radius: 25%;
}